@import 'mixins/border'
@import 'mixins/box'
@import 'mixins/colors'
@import 'mixins/text'

.AreaPanel
  border-radius 0px
  font-family 'Brawler', arial, serif
  font-weight bold
  font-size 76px
  color #111
  text-shadow #333 0 1px 0, #000 0 -1px 0
