@import 'mixins/pos'
@import 'mixins/border'
@import 'mixins/box'
@import 'mixins/gradient'
@import 'mixins/panel'

.CardPanel
  Panel()
  vertical-align top
  text-align center

  .card
    display inline-block
    padding 5px
    height 180px

