.CardPanel {
  position: relative;
  background-color: rgba(51,51,51,0.5);
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px #111;
  -moz-box-shadow: 0px 1px 5px #111;
  box-shadow: 0px 1px 5px #111;
  padding: 5px;
  vertical-align: top;
  text-align: center;
}
.CardPanel .card {
  display: inline-block;
  padding: 5px;
  height: 180px;
}
