@import 'mixins/colors'
@import 'mixins/box'
@import 'mixins/border'
@import 'mixins/panel'
@import 'mixins/pos'
@import 'mixins/gradient'

border-tri(borderSize = 10px, borderColor = #555)
  content ""
  display block
  border-color transparent transparent transparent borderColor 
  border-style solid
  border-width borderSize
  height 0
  width 0
  z-index 2 

triangle(size=8px,fgcolor,bordercolor,t=0px,r=0px,b=0px,l=0px)
  &:before
    abspos t r b l
    border-tri size bordercolor

  &:after
    abspos (t + 2px) (r - 2px) b  l
    border-tri (size - 2px) fgcolor


.SelectedAreaPanel
  position relative
  overflow visible

  > .unitgroup
    abspos 0px 0px 0px 0px
    margin 10px 0px 10px 0px
    overflow-x hidden
    overflow-y auto 

    > .unit
      border-radius 5px
      margin-bottom 10px

      //gradient rgba(#111,.1) rgba(#111,.3)
      //&:nth-child(2n)
      background-color rgba(#111,.1)
      //background-color rgba(#111,.1)

      position relative
      height 75px

      > .icon
        abspos 15px false false 15px
        width 50px
        height 50px
        background-image url('/phredd-client/images/unit.gif')
        background-size 100%

      > .info
        abspos 10px 0px false 80px
        > .name
          padding 15px 0 0 0

        > .healthbar
          box-shadow inset 0px 1px 1px #111
          margin 5px 0 5px 0
          height 10px
          width 75%
          background-color red
          border-radius 5px

