@import 'mixins/pos'
@import 'mixins/gradient'
@import 'mixins/colors'

.Game
  abspos 0px 0px 0px 0px
  color text-color
  font-family Helvetica, Arial, sans-serif
  background-color #222
  z-index 0
  overflow hidden

  > .ManaPanel
    abspos 15px false false 10px 
    width 200px
    height 100px

  > .CardPanel
    abspos false 10px 0px 10px
    height 100px

  > .SelectedAreaPanel
    width 210px
    abspos 135px false 120px 10px

  > .AreaPanel
    z-index -1
    abspos 20px 20px false false

  > .ChatPanel
    background-color #F00
