@import 'mixins/pos'
@import 'mixins/gradient'
@import 'mixins/colors'

.Game
  abspos 0px 0px 0px 0px
  color text-color
  font-family Helvetica, Arial, sans-serif
  gradient #111 #14191C 0% 70%
  z-index 0
  overflow hidden

  > .ManaPanel
    abspos false false 0px 10px 
    width 200px
    height 100px

  > .CardPanel
    abspos false false 0px 230px
    width 800px
    height 100px

  > .SelectedAreaPanel
    width 210px
    height 360px
    abspos 10px false false 10px

  > .AreaPanel
    z-index -1
    abspos 0px 0px 0px 0px

  > .ChatPanel
    background-color #F00
