@import 'mixins/border'
@import 'mixins/box'
@import 'mixins/gradient'

Panel()
  position relative
  gradient rgba(#111,.3) rgba(#111,.5)
  border-radius 5px
  box-shadow 0px 1px 5px #111
  padding 5px
